body {
  font-family: Arial;
  background: linear-gradient(to right, #5f9cff, #8e5cff);
}

.auth-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

button {
  background: #1f7a6e;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
}